
script(type='text/javascript', src='../../10tcl/js/Mustache/mustache.js')
script(type='text/javascript', src='../../10tcl/js/Mustache/mustache-jquery.js')

script(type='text/javascript', src='../../10tcl/js/Mousetrap/mousetrap.min.js')

script(type='text/javascript', src='../../10tcl/js/Bootstrap/datepicker.js')
script(type='text/javascript', src='../../10tcl/js/Bootstrap/wysihtml5-0.3.0.js')
script(type='text/javascript', src='../../10tcl/js/Bootstrap/bootstrap-wysihtml5.js')

script(type='text/javascript', src='../../10tcl/js/Ace/ace.js')

script(type='text/javascript').
  $.model = !{JSON.stringify(m)}

script(type='text/javascript', src='../../10tcl/js/jQuery/jquery-modelExt.js')
script(type='text/javascript', src='../../10tcl/js/jQuery/jquery-viewExt.js')
script(type='text/javascript', src='../../10tcl/js/jQuery/jquery-2WayBind.js')
script(type='text/javascript', src='../../10tcl/js/Alertify/alertify.js')

script(type='text/javascript', src='../../10tcl/js/app/crud/crud-base.js')

link(rel="stylesheet", href="../../10tcl/css/Bootstrap/"+theme)

link(rel="stylesheet", href="../../10tcl/css/Bootstrap/datepicker.css")
link(rel="stylesheet", href="../../10tcl/css/Bootstrap/wysihtml5.css")
link(rel='stylesheet', href='../../10tcl/css/Alertify/alertify.core.css')
link(rel='stylesheet', href='../../10tcl/css/Alertify/alertify.default.css')

link(rel="stylesheet", href="../../10tcl/css/app/crud/crud-base.css")
