.navbar.navbar-fixed-top.dark
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        i.icon-bar
        i.icon-bar
        i.icon-bar
      a.brand(href="/")= brand
      .nav-collapse
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") Cadastro
              i.caret
            include ../../templates/menu-items
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") Tema
              i.caret
            ul.dropdown-menu
              li
                a.theme-option(href="#", data-title='original') Original
                a.theme-option(href="#", data-title='cerulean') Cerulean
                a.theme-option(href="#", data-title='cosmo') Cosmo
                a.theme-option(href="#", data-title='cyborg') Cyborg
                a.theme-option(href="#", data-title='journal') Journal
                a.theme-option(href="#", data-title='readable') Readable
                a.theme-option(href="#", data-title='slate') Slate
                a.theme-option(href="#", data-title='superhero') Superhero
