.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href="/")= brand
			.nav-collapse
				ul.nav.pull-right
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") Cadastro
							i.caret
						include ../../templates/menu-items