!!! 5
html(lang='pt-br')
	head
		include ../templates/head-mobile
	body 
		div(data-role='page', data-theme='c')

			div(data-role='header', data-theme='b')
				h1= brand
				
			div(data-role='content')
				ul(data-role='listview', data-inset='true', data-filter='true')
					each item in menuItems
						li
							a(href='/{1}'.assign(item.name))= item.label