!!! 5
html(lang='pt-br')
	head
		script(type='text/javascript', src='../../10tcl/js/Sugar/sugar-1.3.min.js')
		script(type='text/javascript').
			Object.extend()

		script(type='text/javascript', src='../../10tcl/js/jQuery/jquery-1.7.1.min.js')
		script(type='text/javascript', src='../../10tcl/js/Bootstrap/bootstrap.js')
		script(type='text/javascript', src='../../10tcl/js/app/crud/crud-migration.js')
			
		link(rel="stylesheet", href="../../10tcl/css/Bootstrap/bootstrap-theme-original.css")
		link(rel="stylesheet", href="../../10tcl/css/site.css")
	body
		#root
			#main
				.container
					.alert= m.msg
					form(action='/crud/{1}/migrate'.assign(m.name), method='POST')
						fieldset
							textarea(name='records', id='records', rows=20, style='width:880px;')= m.records
							.form-actions
								button.btn.btn-primary(type='submit') Inserir JSON
								button#csv-to-json.btn(type='button') CSV > JSON
								button.btn(type='button') Cancelar