title= brand
meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel="stylesheet", href='../../../10tcl/css/jquery.mobile-1.2.0.css')
script(src='../../../10tcl/js/jQuery/jquery-1.7.1.min.js')
script(src='../../../10tcl/js/jQuery/jquery.mobile-1.2.0.js')

script.
	$(document).ready(function(){
		$.mobile.ajaxEnabled = false;
	});