script#shortcuts(type='text/html')
	table.table
		thead
			tr
				th tecla
				th função
		tbody
			tr
				td ?
				td mostrar atalhos
			tr
				td seta para esquerda
				td ir para página anterior
			tr
				td seta para direita
				td ir para próxima página
			tr
				td seta para cima
				td selecionar registro anterior
			tr
				td seta para baixo
				td selecionar próximo registro
			tr
				td enter ou e
				td editar registro selecionado
			tr
				td esc
				td fechar tela
			tr
				td n
				td incluir novo registro
			tr
				td f
				td ir para campo de busca