.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				i.icon-bar
				i.icon-bar
				i.icon-bar
			a.brand(href='/')= brand
			if user
				.nav-collapse
					ul.nav.pull-right
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown') Cadastro
								i.caret
							ul.dropdown-menu
								each item in menuItems
									li
										a(href="/{1}".assign(item.name))= item.label
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.icon-user.icon-white
							ul.dropdown-menu
								li
									a(href='/profile') Perfil
								li.divider
								li
									a(href='/logout') Sair
			else
				.nav-collapse
					ul.nav.pull-right
						li
							form#login-form.navbar-form(action='/login', method='POST')
								input#userName.enter-key.input-small(type='text', name='usr', placeholder='User', autofocus='autofocus', required='required')
								span &nbsp
								input#password.enter-key.input-small(type='password', name='pwd', placeholder='Password', required='required')
								input#path(type='hidden', name='path', value=path)
								span &nbsp
								input#login-btn.btn(type='submit', value='login')