!!! 5
html(lang='pt-br')
  head
    title Missing Tentacle
    link(rel='stylesheet', href='../css/Bootstrap/bootstrap.css')
    link(rel='stylesheet', href='../css/site.css')
    link(rel='stylesheet', href='../css/Bootstrap/bootstrap-responsive.css')
    link(href='http://fonts.googleapis.com/css?family=Trocchi', rel='stylesheet', type='text/css')
  body
    != partial('crud-topbar')
    .container
      h1 Oooops… no #{modelName} for you
    script(type='text/javascript', src='../js/jQuery/jquery-1.7.1.min.js')
    script(type='text/javascript', src='../js/Bootstrap/bootstrap.js')
